---
import { Image } from 'astro:assets';
import logoCrottin from '../assets/images/logo_crottin_noir.png';
import logoBocal from '../assets/images/logo_bocal.png';
import logoCadeau from '../assets/images/logo_cadeau.png';
---

<section class="hero-circles">
  <div class="circles-container">
    <a href="/" class="circle">
      <span class="circle-title circle-title-nowrap">Les bocaux du jour</span>
      <div class="circle-icon">
        <Image src={logoBocal} alt="Bocal" width={92} height={92} />
      </div>
    </a>

    <a href="/">
      <Image src={logoCrottin} alt="Le Crottin Craonnais — Chocolat Artisanal Fabrice Sorin" width={264} height={264} class="circle-image" />
    </a>

    <a href="/" class="circle">
      <span class="circle-title">Les coffrets gourmands</span>
      <div class="circle-icon">
        <Image src={logoCadeau} alt="Coffret cadeau" width={106} height={106} />
      </div>
    </a>
  </div>
</section>

<style>
  .hero-circles {
    background-color: var(--color-white);
    padding: 1.2rem 2rem 0;
  }

  .circles-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .circle {
    width: 264px;
    height: 264px;
    background-color: var(--color-orange);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
    text-align: center;
    color: var(--color-white);
    box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease-out;
  }

  .circle:hover {
    box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0.45);
    transition: box-shadow 0.2s ease-in;
  }

  .circle-image {
    width: 264px;
    height: 264px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 21px 7px rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease-out;
  }

  .circle-image:hover {
    box-shadow: 0 0 21px 7px rgba(0, 0, 0, 0.54);
    transition: box-shadow 0.2s ease-in;
  }

  .circle-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
  }

  .circle-title-nowrap {
    white-space: nowrap;
  }

  .circle-icon {
    width: 92px;
    height: 92px;
    margin: 0.5rem 0;
  }

  @media (max-width: 768px) {
    .circles-container {
      gap: 1.5rem;
    }

    .circle {
      width: 216px;
      height: 216px;
      padding: 1.2rem;
    }

    .circle-image {
      width: 216px;
      height: 216px;
    }

    .circle-title {
      font-size: 1.7rem;
    }

    .circle-icon {
      width: 66px;
      height: 66px;
    }
  }

  @media (max-width: 768px) {
    .hero-circles {
      display: none;
    }
  }
</style>
