---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroCircles from '../components/HeroCircles.astro';
import NotreHistoire from '../components/NotreHistoire.astro';
import LaBoutique from '../components/LaBoutique.astro';
import PartnersCarousel from '../components/PartnersCarousel.astro';
import NosActualites from '../components/NosActualites.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Verre et Papilles - Epicerie fine, vins et spiritueux">
  <Header />
  <main>
    <HeroCircles />
    <NotreHistoire />
    <LaBoutique />
    <PartnersCarousel />
    <NosActualites />
  </main>
  <Footer />
</Layout>
